<button><%= @button_text %></button>
    </form>


    <form action="/solution">
      <button>Complete Solution</button>
    </form>
    
  
  </span>


<a href="/solver">Load your own puzzle</a>
  
  


