div.box, div.cell {
  display: inline-block;
  /*padding: 3;*/
  /*background-color: aqua;*/
}

.cell input {
  width: 40px;
  height: 40px;
  text-align: center;
}

div.box {
  outline: 3px solid black;
}

#sudoku {
  font-size: 0;
  text-align: left;
  padding: 40px;
  display: inline-block;
}

body {
  text-align: center;
  font-family: "Trebuchet MS";
}

.incorrect {
  background-color: #E68A8A;
}

.value-provided {
  background-color: #FFD175;
}

.correct-guess {
	background-color: #85FF85;
}

#value-provided {
  background-color: #FFD175;
}

#correct-guess {
	background-color: #85FF85;
}

#incorrect {
  background-color: #E68A8A;
}

p {
	text-align:left;
}

h3 {
	text-align:left;
}

.key_box {
width: 30px;
height: 30px;
display: inline-block;
position: relative;
float: left;
}

.key_def {
/*display: inline-block;*/
float: left;
padding: 5 0 0 5px;
}

.key {
display: inline-block;
float: left;
}

button {
	margin: 15px;
}

.whole_thing {
display: inline-block;
float: left;
}

.key_whole {
display: inline-block;
float: left;
}

