body {
  font-family: "Trebuchet MS";
}

.container-logo {
	margin-left: 5em;
	margin-bottom: 1em;
}

.logo {
	display: inline-block;
	margin-top: 1em;
	margin-left: 3em;
}

.key_box_red {
	width: 30px;
	height: 30px;
	background-color: #E68A8A;
	margin-bottom: 8px;
}

.key_box_amber {
	width: 30px;
	height: 30px;
	background-color: #FFD175;
	margin-bottom: 8px;
}

.key_box_green {
	width: 30px;
	height: 30px;
	background-color: #19D1A3;
}

h2 {
	margin-top: 1em;
	margin-left: 2em;
	display: inline-block;
	vertical-align: top;
}

#red {
	color:#E68A8A;
}

#amber {
	color: #FFD175;
}

#green {
	color: #19D1A3;
}

main {
  font-size: 0;
  display: inline-block;
  margin-right: 5em;
}

nav {
	display: inline-block;
	vertical-align: top
}

a {
	display: block;
}

sup {
	font-size: 10;
}

div.box, div.cell {
  display: inline-block;
 }

.cell input {
  width: 40px;
  height: 40px;
  text-align: center;
}

div.box {
  outline: 3px solid black;
}

.incorrect-just-entered {
  background-color: #E68A8A;
}

.value-provided {
  background-color: #FFD175;
}

.correct-guess {
	background-color: #19D1A3;
}

/*#value-provided {
  background-color: #FFD175;
}

#correct-guess {
	background-color: #85FF85;
}

#incorrect-just-entered {
  background-color: #E68A8A;
}
*/
p {
	text-align:left;
}

h3 {
	text-align:left;
	display: inline;
}

.key_def {
display: inline-block;
}

.whole_thing {
display: inline-block;
float: left;
}

.key_whole {
display: inline-block;
}

button {
	display: inline;
	margin: 15px;
}

form {
	display: inline;
}





.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}@-webkit-keyframes rotateOut {
	0% {
		-webkit-transform-origin: center center;
		-webkit-transform: rotate(0);
		opacity: 1;
	}	100% {
		-webkit-transform-origin: center center;
		-webkit-transform: rotate(200deg);
		opacity: 0;
	}
}

/*@-moz-keyframes rotateOut {
	0% {
		-moz-transform-origin: center center;
		-moz-transform: rotate(0);
		opacity: 1;
	}
	
	100% {
		-moz-transform-origin: center center;
		-moz-transform: rotate(200deg);
		opacity: 0;
	}
}

@-o-keyframes rotateOut {
	0% {
		-o-transform-origin: center center;
		-o-transform: rotate(0);
		opacity: 1;
	}
	
	100% {
		-o-transform-origin: center center;
		-o-transform: rotate(200deg);
		opacity: 0;
	}
}

@keyframes rotateOut {
	0% {
		transform-origin: center center;
		transform: rotate(0);
		opacity: 1;
	}
	
	100% {
		transform-origin: center center;
		transform: rotate(200deg);
		opacity: 0;
	}
}*/

.rotateOut {
	-webkit-animation-name: rotateOut;
	-moz-animation-name: rotateOut;
	-o-animation-name: rotateOut;
	animation-name: rotateOut;
}


