div.box, div.cell {
  display: inline-block;
 }

.cell input {
  width: 40px;
  height: 40px;
  text-align: center;
}

div.box {
  outline: 3px solid black;
}

#sudoku {
  font-size: 0;
  text-align: left;
  padding: 40px;
  float: left;
}

body {
  text-align: center;
  font-family: "Trebuchet MS";
}

.incorrect-just-entered {
  background-color: #E68A8A;
}

.value-provided {
  background-color: #FFD175;
}

.correct-guess {
	background-color: #85FF85;
}

#value-provided {
  background-color: #FFD175;
}

#correct-guess {
	background-color: #85FF85;
}

#incorrect-just-entered {
  background-color: #E68A8A;
}

p {
	text-align:left;
}

h3 {
	text-align:left;
}

.key_box {
width: 30px;
height: 30px;
display: inline-block;
position: relative;
float: left;
}

.key_def {
/*display: inline-block;*/
float: left;
padding: 5 0 0 5px;
}

.key {
display: inline-block;
float: left;
}

button {
	margin: 15px;
}

.whole_thing {
display: inline-block;
float: left;
}

.key_whole {
display: inline-block;
/*vertical-align: center;*/
float: left;
}


/**/


.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}@-webkit-keyframes rotateOut {
	0% {
		-webkit-transform-origin: center center;
		-webkit-transform: rotate(0);
		opacity: 1;
	}	100% {
		-webkit-transform-origin: center center;
		-webkit-transform: rotate(200deg);
		opacity: 0;
	}
}

/*@-moz-keyframes rotateOut {
	0% {
		-moz-transform-origin: center center;
		-moz-transform: rotate(0);
		opacity: 1;
	}
	
	100% {
		-moz-transform-origin: center center;
		-moz-transform: rotate(200deg);
		opacity: 0;
	}
}

@-o-keyframes rotateOut {
	0% {
		-o-transform-origin: center center;
		-o-transform: rotate(0);
		opacity: 1;
	}
	
	100% {
		-o-transform-origin: center center;
		-o-transform: rotate(200deg);
		opacity: 0;
	}
}

@keyframes rotateOut {
	0% {
		transform-origin: center center;
		transform: rotate(0);
		opacity: 1;
	}
	
	100% {
		transform-origin: center center;
		transform: rotate(200deg);
		opacity: 0;
	}
}*/

.rotateOut {
	-webkit-animation-name: rotateOut;
	-moz-animation-name: rotateOut;
	-o-animation-name: rotateOut;
	animation-name: rotateOut;
}


