body {
  font-family: "Trebuchet MS";
}

.red_box {
	width: 30px;
	height: 30px;
	background-color: #E68A8A;
	margin-bottom: 8px;
	border: solid 1px #20538D;
}

.amber_box {
	width: 30px;
	height: 30px;
	background-color: #FFD175;
	margin-bottom: 8px;
	border: solid 1px #20538D;
}

.green_box {
	width: 30px;
	height: 30px;
	background-color: #19D1A3;
	border: solid 1px #20538D;
}

nav {
	display: block;
	vertical-align: top;
	margin-left: 7em;
	margin-bottom: 1em;
	margin-top: 1.5em;
}

a {
	/*display: block;*/
	color:#E68A8A;
	color: #000;
	margin: 5px;
}

a:hover {
	color:#19D1A3;
}   

a:active {
	color:#19D1A3;
}  

body#solver a:last-child {
	color:#FFD175;
}  

.key_def {
display: inline-block;
}

.key_whole {
display: inline-block;
}

button {
	display: inline;
	margin: 15px;
    padding: 10px 15px;
    background: #000;
    color: #FFF;
    cursor: pointer;
    border: solid 1px #20538D;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

button:hover {
    background: #808080;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

form {
	display: inline;
}








