body {
  font-family: "Trebuchet MS";
}

.red_box {
	width: 30px;
	height: 30px;
	background-color: #E68A8A;
	margin-bottom: 8px;
}

.amber_box {
	width: 30px;
	height: 30px;
	background-color: #FFD175;
	margin-bottom: 8px;
}

.green_box {
	width: 30px;
	height: 30px;
	background-color: #19D1A3;
}

nav {
	display: inline-block;
	margin-top: 35px;
	margin-left: 10px;
	margin-right: 20px;
	vertical-align: top;
	float: left;
}

a {
	color: #000;
	margin: 5px;
	display: block;
}

a:hover {
	color:#19D1A3;
}   

a:active {
	color:#19D1A3;
}  

body#solver a:last-child {
	color:#FFD175;
}  

button {
	display: inline;
	margin: 15px;
	margin-left: 25px;
  padding: 5px 7px;
  background: #000;
  font-size: 14px;
  color: #FFF;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

button:hover {
  background: #19D1A3;
  text-decoration: none;
}

form {
	display: inline;
}









