.container-logo {
	margin-left: 135px;
}


.logo {
	display: inline-block;
	margin-top: 10px;
	margin-left: 50px;
}

h2 {
	margin-top: 1em;
	margin-left: 2em;
	display: inline-block;
	vertical-align: top;
	font-size: 1.8em;
	font-weight: bold;
	padding: 4px;
}

#red {
	color:#E68A8A;
}

#amber {
	color: #FFD175;
}

#green {
	color: #19D1A3;
}
